@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue';
}

.title {
    background-color: black;
    height: 55px;
    color: white;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_title {
    background-color: rgb(0, 74, 143);
    height: 40px;
    color: white;
    font-size: 17pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------Truck hero--------------*/

.image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------info--------------*/

.leftP {
    color: black;
    font-size: 13pt;
    font-weight: bolder;
    margin-top: 30px;
}

.phoneNum {
    margin-top: 20px;
    margin-left: 100px;
}

.requestrow2 {
    margin-top: 20px;
    margin-left: 90px;
}

.or {
    margin-top: 20px;
    margin-left: 128px;
    font-weight: bold;
}

.requestrow3 {
    margin-top: 20px;
    margin-left: 120px;
}

.find {
    margin-top: 20px;
    margin-left: 110px;
    font-weight: bold;
}

.rightP {
    color: black;
    font-size: 17pt;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 90px;
}

#addM {
    margin-top: 20px;
    margin-left: 120px;
}

.highlight {
    color: rgb(0, 74, 143);
    text-decoration: underline;
}